<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/ed/Documents/Test Scrivener Output</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>91C8528D-3BDE-4B3C-A67B-C87506A0F78B</key>
		<dict>
			<key>BinderUUID</key>
			<string>91C8528D-3BDE-4B3C-A67B-C87506A0F78B</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>929 539 475 528 0 0 2560 1415 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {374, 1269}}</string>
		<string>{{375, 0}, {1172, 1269}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>03DA7B6A-9E1A-4AC8-9E4C-A9B8E2CA12EB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>06923958-FD6F-4D21-B8E8-62E3A5B623C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1203ABB1-51DD-45AE-968B-EDAB79B0D9B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1436B2E4-3464-4CDE-A102-DFCD66778536</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16732B40-70A2-4D26-9736-EC1BBB77721A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>173179B5-A78A-4A06-A7A7-3A6F0449773F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1FC6958B-9747-4DDF-87CC-010F45E2E2CE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>21B37EE4-5DC4-428E-9342-44CA892AA2E4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>24FCAD45-B063-4B81-8DFE-E8FD5792D337</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27F0641D-F2F0-4E26-B25B-75AE1AEE1F5B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28093CBB-16DF-4130-86ED-A1527C602A8A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32A2FE75-2BBD-4EE6-B0C3-027D6D829FE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>35B59ECB-B3F1-4B6C-A41D-F2367764704D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>361C3F01-B2CA-45A3-AD3F-26B7D48E3AA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>431AB088-35B2-49F6-998D-FABBE94AC4B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B169DB4-E21F-402C-B23F-0D2BC148E978</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B5828F8-D3E8-43B9-9C9E-CD1D833495BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>571D4945-BE62-4155-A00E-7F1400A89313</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>586F4C28-6DD3-4D1D-8BC3-6C64EFA43957</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>59ED4D05-34F2-4A53-8E4C-74FE26907D63</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5DBCAB35-3DA2-4542-8E3B-BF57FE9019CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F7EE984-3994-4356-A76E-62926A56F6A8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>71FE84EF-8E62-4D60-BDFE-867A0067A8BB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72E140D7-6683-4494-BDD3-0E8631703BD7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>735205C5-E91E-4A5A-8F13-B91777BD0950</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7523E2D9-BAF7-412C-A5A9-E1664DB846AD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7E0034F2-F3E5-40B8-A089-03769BCEEDFF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>89709183-9E4A-4B07-A5D6-7B0FAF3E6973</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DD1BCF2-C5E9-49F8-89E9-52DD290B99A1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>91C8528D-3BDE-4B3C-A67B-C87506A0F78B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>945CF059-77D3-4420-846B-89F4AFEC7DCC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94B7E05A-78E8-43A4-A47D-A9509D4CE678</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98CB7B1C-B9FC-4536-B2D3-8D977DA034B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A253CCA-86FC-4942-9D66-1177D84FE6E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1E4179E-0EFD-4616-BF74-A9ED3F36D919</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7C7232D-16DA-4E85-B22F-71FC97387AD9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7C84FEF-3F4C-43D8-92B3-2447B45ECF2E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB113E3B-D0DA-43FB-ABEF-8667CB65B9D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB29187C-D1A6-49C7-A3AA-874E6EF9C7CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC5B31EE-87AE-4F87-84C7-D96E0E97F342</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BD0CD477-A36E-4406-ADEB-B73796ED3FDA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D1D9CEF0-A78A-47C0-BB82-7C14ADA624CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D29997A1-998D-4391-904E-D22447F90A58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7995146-0BD2-4D92-9CF0-FAE467BCF73E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E24C7AF0-737F-45FE-BF3B-8706F3EB0225</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED401904-085D-4FB7-B617-11CCEF6F9E6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FFE80810-3414-4A00-986C-5A034EB4CCE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {374, 273}}</string>
		<string>{{0, 274}, {374, 965}}</string>
	</array>
	<key>editorSplitFrames</key>
	<array>
		<string>{{464, 0}, {464, 730}}</string>
	</array>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {576, 1259}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 290}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>146 255 1547 1301 0 0 2880 1590 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-276, -32}, {1172, 1179}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
